body, html{ font-family: 'Segoe UI', Tahoma, sans-serif; line-height: 1.6; font-size: medium; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{ box-sizing: border-box;}
.body_1{background-image: url("immagini/background1.jpeg");background-size: cover;background-repeat: no-repeat;background-position: center;background-attachment:local;}
.body_2{background-image: url("immagini/background2.png");background-size: cover;background-repeat: no-repeat;background-position: center;background-attachment:local;}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #32587e;
    padding: 0 40px;
}

.header__logo{border: 1px, solid, red;}

.nav__list{display: flex; gap: 20px; padding:0 ; margin: 0;}
.nav__item{display: inline-block}
.nav__link{padding: 15px 20px; display: inline-block;color: white; font-weight: bold;transition: 0.3s;}
.nav__link:hover{color: #ffd369;}
.nav__link--active{color: #ffd369;}

.hero{
    display: block;
    text-align: center;
    padding: 50px 40px;
}

.hero--left{
    display: block;
    padding: 40px 40px;
    text-align: left;
    pointer-events: none;
}


.hero__title{font-size: 40px; position: relative; margin: 0; COLOR: #32587e}
.hero__title::after, .hero__title--dead::after{content: ""; display: block; width: 0px; height: 3px; background: #ffd369; margin: 10px auto; transition: 0.8s;}
.hero__title:hover::after, .hero__title--dead:hover::after{width: 30%;}
.hero__subtitle{ font-weight: 400; color: #555; padding: 0; margin: 0; }
.hero__text{margin-top: 30px; padding: 0;}

.hero__title--dead{font-size: 47px; position: relative; margin: 0;color: #5c3a21;}
.hero__text--dead{margin-top: 30px; padding: 0 20%; color: #8c6b4f;}




.section-title{display: flex;justify-content: center;align-items: center;text-align: center;font-weight: 600; color: #32587e; padding: 0; margin: 0;}
.section-title::before{content: "";width: 170px;border-bottom:  1px solid grey;margin: 0 15px;}
.section-title::after{content: "";width: 170px;border-bottom: 1px solid grey;margin: 0 15px;}


.grid{display: flex; padding: 0px 10%; flex-wrap: wrap; color: #444; line-height:1.6; text-align: center;}
.grid__column{width: 33.3%; padding: 10px 20px;}


.card{background: white; padding: 20px; border-radius: 12px; box-shadow: 0 8px 20px rgba(0,0,0,0.08); transition: 0.3; margin: 30px}
.card:hover{transform: translateY(-10px); box-shadow: 0 15px 30px rgba(0,0,0,0.12)}
.card-transparent{background: transparent;}
.card--white{background: white;}
.card__img {max-width: 100%;height: auto;}
.card__img1{max-width: 30%;height:auto; align-content: center;}


.button{padding: 15px 20px; display: inline-block; color: white; width: 100%; text-align: center; transition: 0.3; border-radius: 6px; margin-top: 20px}
.button:hover{background: #ffd369; color: #1e2a38; opacity: 0.85;}

.tag{display:flex; align-items: center; justify-content:space-around; gap:8px; padding:4px 12px; flex-wrap: wrap;}
.tag__button{display: inline-block; max-width: 180px; font-size: 12px; font-weight: 600;border-radius: 20px; padding: 5px 12px; text-align:center;}

.box{display:flex; justify-content:center;align-items: center; width: 100%;  padding: 20px 20%;background: radial-gradient(white, rgba(137, 163, 69, 0.516));}
.box__txt{text-align: center;padding: 0 20px; color:#1e2a38; }




.tag__button--azzuro { background: #dbeafe; color: #1e40af; }
.tag__button--marrone   { background: #f3e8ff; color:#97663b; }
.tag__button--verde  { background: #f3f4f6; color:#5b7540; width: auto; }
.text--blu{color: #32587e; }
.text--marrone{color: #97663b; }
.text--verde{color: #5b7540; }
.button--blu{background:#32587e;}
.button--marrone{background:#97663b;}
.button--verde{background: #5b7540;}
.button--gold{ background:#a69b25}

@media (max-width: 768px){
    .header{padding-left: 20px; padding-right: 60px; position:relative}
    .menu{display: block; position: absolute;top: 108px; left: -100%; width: 100%;}  /*video su marchetti su come si fanno i 3 linette e appare il menu*/
    .nav__item{width: 100%}
    .hero{flex-wrap: wrap;}
    .hero__title,.hero__subtitle,.hero__text, .section-title{width: 100%}
    .grid__column, .card, .box{width: 100%}
    .box{flex-wrap: wrap;}
}




